body {
    margin: 0;
}

.navbar {
    border-bottom: 2px solid green;
}

.navbar,
.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex-basis: 70%;
    margin: 0 1%;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.logo a {
    color: black;
    flex-basis: 20%;
}

.nav-links {
    flex-basis: 80%;
}

li {
    list-style: none;
    padding: 0 15px;
    margin: 0 2%;
}

a {
    text-decoration: none !important;
}

.nav-links a:hover {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 8%;
}

.badge {
    background-color: rgb(236, 1, 1);
    position: absolute;
    top: -10px;
    left: -20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

.imgwidth {
    width: 80%;
    height: 150px;
}

.affichecard {
    flex-basis: 25%;
    padding: 2%;
    margin: 2%;
}

input {
    width: 30px;
}